
<div class="discord">

<h3> Discussion for this module </h3>

{% if include.id %}
<p>
You need to be logged into the <a href="https://discord.com/channels/790645381561712660/" target="_blank"> class Discord</a> to see the discussion.
And, if you want to post from this page, you'll need to allow the bot some permissions.
</p>
<widgetbot
server="790645381561712660"
channel="{{ include.id }}"
width="100%"
height="600"
></widgetbot>

<p>
<a href="https://discord.com/channels/790645381561712660/{{ include.id }}/" target="_blank"><i class="fas fa-external-link-alt"></i> View in the Discord app</a>
</p>

{% else %}

<p>
<a href="https://discord.com/channels/790645381561712660/" target="_blank"><i class="fas fa-external-link-alt"></i> Discuss in Discord!</a>
</p>
{% endif %}


</div>
