
<div class="prompt">

<h3> Discussion </h3>

{{ include.content }}

{% if page.discussion %}

<p>
<a href="discord://discordapp.com/channels/791087361273757726/{{ page.discussion }}/"><i class="fab fa-discord"></i> Discuss in the Discord app! <i class="fas fa-external-link-alt"></i></a>
<br/>
<a href="https://discord.com/channels/791087361273757726/{{ page.discussion }}/" target="_blank">Or, on the web</a>
</p>

{% else %}

<p>
<a href="discord://discordapp.com/channels/791087361273757726/"><i class="fab fa-discord"></i> Discuss in the Discord app! <i class="fas fa-external-link-alt"></i></a>
<br/>
<a href="discord://discord.com/channels/791087361273757726/" target="_blank">Or, on the web</a>
</p>
{% endif %}

</div>
