---
layout: base
---
<div class="container-fluid d-flex flex-grow-1 flex-column">
    <div class="row flex-grow-1">
        <div class="sidebar-toc col-md-3">
            {% include toc.html html=content %}
        </div>
          <div class="col-xl-6 col-md-9">
              <div class="content p-md-2">
                  <h1> {{ page.title }} </h1>
                  {{ content }}
                  {% include next_in_module.html %}
                  {% if prev or next %}<hr />{% endif %}
              </div>
          </div>
    </div>
</div>
